<div class="cards">
    <div>
        <img class="avatar" src="../../../assets/linkedin.jpg" alt="Avatar">
        <h1>Giuliano Giovanelli</h1>
        <h2 class="text-secondary">Fullstack Developer</h2>
    </div>
    <div class="services">
        <div class="content content-1">
            <div class="fab fa-facebook">
            </div>
            <h2>Linkedin</h2>
            <a href="https://www.linkedin.com/in/giulianogiovanelli/">Visit</a>
        </div>
        <div class="content content-2">
            <div class="fab fa-github">
            </div>
            <h2>GitHub</h2>
            <a href="https://github.com/giulianogiova20">Visit</a>
        </div>
        <div class="content content-3">
            <div class="fab fa-instagram">
            </div>
            <h2>Instagram</h2>
            <a href="https://www.instagram.com/giulianogiova20/">Visit</a>
        </div>
    </div>
</div>